.archive-content {
  margin: 0 auto 48px;
  max-width: 500px;
}

.archive-link {
  display: flex;
  flex-direction: column;
  height: 216px;

  @media (max-width: 400px) { height: 192px; }

  text-align: center;
  font-weight: bold;
  -webkit-font-smoothing: anitialiased;
  font-size: 24px;
  letter-spacing: .25px;
  text-shadow: 0 1px 2px rgba(#000, .5), 0 0 15px rgba(#000, .8);

  background-size: cover;
  background-position: center center;

  @include mobile { margin-top: 20px; };

  position: relative;

  overflow: hidden; // Clip box shadow on span

  &::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transition: background 100ms ease-in-out;
  }

  &:hover::before {
    background: rgba(#000, .15);
    transition-duration: 75ms;
  }

  span {
    @include google-font;
    display: block;
    margin-top: auto;
    position: relative;
    z-index: 2;
    padding: 12px 3px 6px;
    background: rgba(#000, .3);
  }

  @include desktop {
    &.archive-main {
      height: 288px;
      font-size: 28px;
    }
  }
}

@include desktop {
  .archive-cols {
    display: flex;
    flex-wrap: wrap;
    margin-top: $spacing * 2;
    margin-left: -$spacing;
    margin-right: -$spacing;

    .archive-link {
      flex: 1;
      min-width: 30%; // No more than 3 per row; they grow to the right size

      margin-left: $spacing;
      margin-right: $spacing;
      margin-bottom: $spacing * 2;
    }
  }
}
