.portfolio-images {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

$spacing: 5px;

.portfolio-image,
.portfolio-content {
  flex: 1 0;
  flex-basis: 25%;
  max-width: 25%;
  margin-top: $spacing * 2;
  box-sizing: border-box;
  padding-right: $spacing;
  padding-left: $spacing;

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%; // Square
  }
}

.portfolio-content {
  position: relative;

  > div {
    position: absolute;
    top: 0; right: $spacing; bottom: 0; left: $spacing;
    padding: 8px;
    border: 1px solid #969696;
  }
}

.portfolio-image {
  background-clip: content-box;
  background-size: cover;
  background-position: center center;
}
