<!DOCTYPE html>
<html lang="en">
  <head>
    {% assign title = 'Zila Brand' %}
    {% if page.title and page.url != "/" %}
      {% assign title = title | append: " - " | append: page.title %}
    {% endif %}
    <title>{{ title }}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="UTF-8">

    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:site_name" content="Zila Brand">
    <meta property="og:type" content="website">

    <meta property="og:title" content="{{ title }}">
    <meta property="twitter:title" content="{{ title }}">

    <meta property="og:url" content="{{ page.url }}">
    <meta property="twitter:url" content="{{ page.url }}">

    <meta property="og:image" content="{{ site.data.sizes.full }}/{{ page.featured_image }}">
    <meta property="twitter:image" content="{{ site.data.sizes.full }}/{{ page.featured_image }}">

    <meta name="description" content="Zila Brand is a highly capable artist and seamstress in San Francisco.">
    <meta property="og:description" content="Zila Brand is a highly capable artist and seamstress in San Francisco.">
    <meta property="twitter:description" content="Zila Brand is a highly capable artist and seamstress in San Francisco.">

    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">

    <script type="text/javascript">
      (function(){
        var link = document.createElement('link');
        link.type = 'text/css';
        link.rel = 'stylesheet';
        link.href = 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,700';
        document.head.appendChild(link);
      })();
    </script>

    <link rel="stylesheet" href="/_style.css">
  </head>

  <body>
    <header class="header container">
      <h2>
        <a href="/">Zila Brand</a>
      </h2>

      <nav>
        <ul>
          {% for nav_page in site.pages %}
            {% assign parts = nav_page.url | split:"/" %}
            {% assign parts_size = parts | size %}
            {% comment %}Top level pages only{% endcomment %}
            {% if parts_size == 2 %}
              <li>
                <a href="{{ nav_page.url }}"
                  {% if page.url contains nav_page.url %}class="active"{% endif %}
                >{{ nav_page.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </header>

    <main class="container">
      {{ content }}
    </main>

    <footer class="footer container">
      &copy; Zila Brand {{ "now" | date: "%Y" }}
    </footer>

    <script type="text/javascript" src="/_script.js"></script>
  </body>
</html>
