---
layout: default
---

<main class="home">
  {{ content }}

  <a class="home-gal-link home-gal-main home-decor" href="/home-decor/" style="background-image: url({{ page.images.home_decor }})">
    Home Decor
  </a>

  <div class="home-gal-thirds">
    <a class="home-gal-link fashion" href="/fashion/" style="background-image: url({{ page.images.fashion }})">
      Fashion
    </a>

    <a class="home-gal-link detail-work" href="/detail-work/" style="background-image: url({{ page.images.detail_work }})">
      Detail Work
    </a>

    <a class="home-gal-link metal-work" href="/metal-work/" style="background-image: url({{ page.images.metal_work }})">
      Metal Work
    </a>
  </div>
</main>
