---
layout: default
---

<h1 class="page-heading">{{ page.title }}</h1>

<section class="portfolio-images">
  {% assign trimmed_content = content|strip %}
  {% unless trimmed_content == "" %}
    <div class="portfolio-content">
      <div>
        {{ content }}
      </div>
    </div>
  {% endunless %}

  {% for image in page.images %}
    <div class="portfolio-image gal-item"
      style="background-image: url({{ site.data.sizes.thumbnail }}/{{ image.src }})"
      data-src="{{ site.data.sizes.full }}/{{ image.src }}"
      data-sizes="100vw"
    ></div>
  {% endfor %}
</section>
